{% extends 'core/base.html' %}
{% load crispy_forms_filters %}
{% block title %}Home{% endblock %}
{% block content %}
    <section id="todo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center display-4">Todo</h1>
                </div>
                <div class="col-md-12">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-dark btn-block" value="Submit"/>
                    </form>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="todo-list text-center">
                        {% for todo in todos %}
                            <div class="todo-content border border-dark p-2 mb-2 d-flex justify-content-between">
                                <div>
                                    <span class="lead">{{ todo.title }}</span>
                                </div>
                                <div>
                                    <a href="{% url 'update' todo.id %}" class="btn btn-warning">Update</a>
                                    <form action="{% url 'delete' todo.id %}" method="POST" class="d-inline-block">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger" value="Delete"/>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}